body {
    margin: 0;
}

div{
    width: 200px;
    height: 200px;
}

#top{
    position: absolute;
    left: 400px;
    top: 480px;
    background-color: red;
}

#mid{
    position: absolute;
    left: 200px;
    top: 280px;
    background-color: blue;
}

#bot{
    position: absolute;
    background-color: yellow;
}